body,html{
    height: 100%;
    background-image: url('../images/background.jpg');
    background-size: 100%;
    background-attachment: fixed;
}
a{
color:black;
}
.wrapper{
    position: relative;
    min-height: 100vh;
}

.hr{
    size: 2px;
    background-color: black;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Verdana;
}
header{
    background-color:#25436E;
    border-block: solid;
    border-block-color: black;
    writing-mode: horizontal-tb;
    border-block-width: 1px;
}
main{
    flex-grow: 1;

}
.container{
    max-width: 60%;
    margin: 0 auto;
}

.nav{
    margin: 0 auto;
    color: black;
    line-height: 2;
}
.nav-list{
    display: table;
    margin: 0 auto;

}
.nav-item{
    float:left;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    height: 33px;
    width: 12vh;

}
.nav-item:hover{
    background-color: rgb(169,169,169);
}
.form-login{

    border: 2px solid black;
    text-align: center;
    height:69vh;
    background-color: rgba(37,67,110, 0.3);
}
.form-login h1{
    font-size: 48px;
    margin: 48px;
}

.form-login label{
    font-size: 24px;

}
.form-login-rm-submit{
    margin-top: 96px;
}
footer{
  font-size: 12px;
  background-color:#25436E;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  color: white;
}

.nav-list #logo img{
    height:31px;
    width:31px;
}
#alogo{
    width: 31px;
}